
/* CSS Document */
.body{
	font-family: Microsoft YaHei
}
#nav{
	width:1300px;
	height:100px;
	margin-left:auto;
	margin-right:auto;
	background-image:url(../images/nav.png);
	background-repeat:no-repeat;
}
#nav ul li{
	font-size:14px;
	list-style-type:none;
	float:right;
	margin-right:30px;
	margin-top:20px;
	position:relative;
	right:80px;
}
#nav h2{
	line-height:60px;
	margin-left:50px;
}
#nav a{
	text-decoration:none;
	color:white;
}

#content{
	width:1300px;
	background-color:#E8E8E8;
	margin-left:auto;
	margin-right:auto;
	height:220px;
}
#content01{
	float:left;
	width:1200px;
	background-color:#FFF;	
	margin-left:50px;
	margin-top:30px;
	
}
#content01 h2{
	margin-left:30px;
	margin-right:30px;
	color:#595959;
	font-family:黑体;
	font-weight:normal;
	letter-spacing:2px;
	position:relative;
	top:10px;
}
#content01 p{
	margin-top:30px;
	color:#3A3A3A;
	margin-left:30px;
	font-size:14px;
	margin-bottom:50px;
	
}


#bottom{
	margin-left:auto;
	margin-right:auto;
	width:1250px;
	height:60px;
	background-color:#CDCDCD;
	font-size:14px;
	padding-left:50px;
	padding-top:20px;
	color:#2085c5;
}
#bottom a{
	text-decoration:none;
	margin-left:15px;
	color:#2085c5;
}
#bottom a:hover{
	text-decoration:underline;
}
#bottom p{
	margin-top:0px;
}

