
/* CSS Document */
.body{
	font-family: Microsoft YaHei
}
#nav{
	width:1300px;
	height:100px;
	margin-left:auto;
	margin-right:auto;
	background-image:url(../images/nav.png);
	background-repeat:no-repeat;
}
#nav ul li{
	font-size:14px;
	list-style-type:none;
	float:right;
	margin-right:30px;
	margin-top:20px;
	position:relative;
	right:80px;
}
#nav h2{
	line-height:60px;
	margin-left:50px;
}
#nav a{
	text-decoration:none;
	color:white;
}

#content{
	width:1300px;
	background-color:#E8E8E8;
	margin-left:auto;
	margin-right:auto;
	height:650px;
}
#content01{
	float:left;
	width:1200px;
	background-color:#FFF;	
	margin-left:50px;
	margin-top:30px;
}
#content01 ul li{
	list-style:none;
	float:left;
	margin-right:50px;
	line-height:30px;
	border-top:3px solid #FBEEFD;
	border-left:3px solid #FBEEFD;
	border-right:3px solid #FBEEFD;
	border-bottom:3px solid #FBEEFD;
}
#content01 ul a{
	text-decoration:none;	
}
#content01 ul a:hover{
	text-decoration:underline;	
}
#content01 ul h5{
	color:#595959;
	text-align:center;
}



#bottom{
	margin-left:auto;
	margin-right:auto;
	width:1250px;
	height:60px;
	background-color:#CDCDCD;
	font-size:14px;
	padding-left:50px;
	padding-top:20px;
	color:#2085c5;
}
#bottom a{
	text-decoration:none;
	margin-left:15px;
	color:#2085c5;
}
#bottom a:hover{
	text-decoration:underline;
}
#bottom p{
	margin-top:0px;
}

